@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script:wght@500&family=Playfair+Display:ital,wght@1,500&family=Quicksand:wght@500&display=swap');
.navigation img {
    height: 50px;
    width: 70px;
    margin-top: 0;
}

.navigation {
    font-family: 'Agbalumo', cursive;
    justify-content: space-around;
    height: 50px;
    background-color: rgba(107, 152, 152, 0.473);
    /* max-width: 1280px; */
    margin: 0 auto;
    display: flex;
}

.navigation ul {
    display: flex;
    gap: 24px;
    list-style: none;
    font-weight: 500;
    font-size: larger;
    cursor: pointer;
}

li a {
    color: rgb(159, 155, 151);
    ;
    transition: 0.3s all ease;
}

li:hover {
    transform: scale(1.2);
}


/* if multiple classname required then{ `${styles.navigation} conatiner`} */